[Desktop Entry]
Categories=System;
Comment=System Restore Utility
Exec=timeshift-launcher
GenericName=System Restore Utility
Icon=timeshift
MimeType=
Name=Timeshift
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-KDE-StartupNotify=false
