[Desktop Action new-empty-window]
Exec=/usr/bin/code --new-window %F
Icon=visual-studio-code
Name=New Empty Window

[Desktop Entry]
Actions=new-empty-window;
Categories=TextEditor;Development;IDE;
Comment=Code Editing. Refined.
Exec=/usr/bin/code --unity-launch %F
GenericName=Text Editor
Icon=visual-studio-code
Keywords=vscode;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Name=Visual Studio Code
StartupNotify=false
StartupWMClass=Code
Type=Application
